<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
         <link rel="stylesheet" href="css/styles.css" media="screen">
        <title>Curly Salon</title>
    </head>
    <body>
        <div class="container">
            <h1>Welcome to Curly Salon</h1>
        </div>
        <hr>
        <div class="container">
            <h3>Add a new Stylist:</h3>

            <form action="/stylists" method="post">
                <label for="name">Stylist name:</label>
                <input id="name" name="name" type="text"><br><br>

                <button class="btn btn-success" type="submit">Add Stylist</button>
            </form>

            {% if stylists is not empty %}
                <h4>Here are all of your stylists:</h4>
                <ul>
                    {% for stylist in stylists %}
                        <li><a href="/stylists/{{ stylist.getId }}">{{ stylist.getName }}</a></li>
                    {% endfor %}
                </ul>
                <form action="/delete_stylists" method="post">
                    <button class="btn btn-danger" type="submit" name="button">Delete All Stylists</button>
                </form>
            {% else %}
              <h4>There are no stylists added yet!</h4>
            {% endif %}
        </div>

    </body>
</html>
